.container {
  width: 100%;
  border-bottom: 1px solid black;
  height: 100%;
  
}

.NpcDisplayArea {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
}

.NpcList {
  color: rgb(110, 111, 112);
  display: inline;
  cursor: pointer;
  font-family: 'Cardo', sans-serif;
  overflow: hidden;
  font-weight: 650;
  font-size: 0.6vw;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black;
  border: none;
  background-color: transparent !important;
  padding: 0 5px;
}

.Npc {
  display: inline;
  cursor: pointer;
  font-family: 'Cardo', sans-serif;
  font-weight: 650;
  font-size: 1.25rem;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black;
}

.hunter {
  color: rgb(81, 231, 231);
}

.aggressive {
  color: rgb(219, 22, 48);
}

.npcsHereLabel {
  height: 40%;
  font-size: .8rem;
  font-weight: 900;
  font-family: 'Dosis', sans-serif;
  transform: rotate(-90deg);
  white-space: nowrap;
  letter-spacing: 3px;
  align-self: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.aggressiveNpcsNotification {
  text-align: center;
  padding: 3px;
  background-color: lightcoral;
  color: white;
  font-weight: 550;
  font-family: 'Cardo', sans-serif;
}
