.CombatArea {
  height: 90%;
  border: 0.05em solid black;
}

.combatGridWrapper {
  display: flex;
  justify-content: center;
}

/* .combatGrid {
  display: grid;
  grid-template-columns: repeat(40, 1.5rem);
  grid-template-rows: repeat(40, 1.5rem);
  justify-content: center;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  width: 60rem; 
  position: relative;
  box-shadow: 20px 10px 10px -2px #1E1C1A;
  background-size: contain;
  background-repeat: no-repeat;
} */

/* .combatGrid:after {
    content: "";
    width: 60rem;
    height: 10px;
    background-color: #A08670;
    transform: skew(45deg) translateX(5px);
    transform-origin: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.combatGrid:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 60rem;
    background-color: #A08670;
    transform: translateX(60rem) skewY(45deg) translateY(5px);
    transform-origin: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
} */
