.noTarget {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.actionButton {
    border: none;
    display: block;
    margin: 5px 0 0 10px;
    background-color: lightsteelblue;
    border-radius: 0px 5px 10px 10px;
    color: black;
    font-size: .95rem;
}

.actionButton:hover {
    border: 1px solid rgba(51, 51, 51, 0.295);
    background-color: rgb(197, 219, 247);
}

.actionButton:focus {
    outline: none !important;
}

.actorTabs {
    border-bottom: 1px solid #dee2e6 !important;
    margin-top: 1rem;
}

.actorTabs a {
    
    width: 40%;
}

.tabContent {
    height: 65%;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    padding: .5rem;
}

.actorName {
    font-family: 'Metamorphous', cursive;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0 .5rem;

}

.actorTitle {
    font-size: .8rem;
    align-self: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0 .5rem;
}


.topLine {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.hunter {
    color: rgb(17, 207, 207);
}