

.actionButton {
    background-color: #a0a0a0 !important;
    color: white !important;
    font-size: 75% !important;
    font-weight: 600 !important;
    border: none;
    display: block;
    margin: 2px 0 0 10px;
    border-radius: 0px 5px 10px 10px;
    font-size: .9rem;
    max-width: 25%;
}

.actionButton:hover {
    border: 1px solid rgba(51, 51, 51, 0.295);
    background-color: rgb(197, 219, 247);
}

.actionButton:focus {
    outline: none !important;
}

.actorTabs {
    border-bottom: 1px solid #dee2e6 !important;
    margin-top: 1rem;
}

.actorTabs a {
    width: 40%;
}

.tabContent {
    height: 65%;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    padding: .5rem;
}

.actorName {
    font-family:fantasy;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0 .5rem;
}

.actorTitle {
    font-size: .8rem;
    align-self: center;
    font-weight: 300;
    font-family: fantasy;
    text-align: center;
    padding: 0 .5rem;
}

.topRow {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 40%;
}

.bottomRow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap:wrap;
    min-height: 50%;
}

.hunter {
    color: rgb(17, 207, 207);
}

.characterPortrait {
    max-height: 95%;
    float: left;
    display: block;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.alignRight {
    display: block;
    float: right;
}

.barWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bar {
    position: relative;
    width: 80%;
    height: 15px;
    border: 2px solid rgba(0, 0, 0, 0.750);
    border-radius: 10% 10% 10% 10% / 0% 50% 50% 0% ;
    background-clip: content-box;
}

.bar__numerals {
    position: absolute;
    top: -3px;
    width: 100%;
    padding-left: 10px;
    font-size: .7rem;
    font-weight: 500;
    font-family: fantasy;
}


button:hover {
    border: none !important;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.attributeIcon {
    display: block;
    min-width: 20px;
    margin: .25rem;
}