.actionButton {
    margin-top: 5px;
}

.actionButton:focus {
    outline: none !important;
}

.actorTabs {
    border-bottom: 1px solid #dee2e6 !important;
    margin-top: 1rem;
}

.actorTabs a {
    width: 40%;
}

.tabContent {
    height: 65%;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    padding: .5rem;
}

.actorName {
    font-family:fantasy;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0 .5rem;
}

.actorTitle {
    font-size: .8rem;
    align-self: center;
    font-weight: 300;
    font-family: fantasy;
    text-align: center;
    padding: 0 .5rem;
}

.topRow {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 45%;
}

.bottomRow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap:wrap;
    min-height: 50%;
    margin-top: 15px;
}

.hunter {
    color: rgb(17, 207, 207);
}

.characterPortrait {
    max-height: 100%;
    float: left;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.alignRight {
    display: block;
    float: right;
}

.barWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bar {
    position: relative;
    width: 80%;
    height: 15px;
    border: 2px solid rgba(0, 0, 0, 0.750);
    border-radius: 10% 10% 10% 10% / 0% 50% 50% 0% ;
    background-clip: content-box;
}

.bar__numerals {
    position: absolute;
    top: -3px;
    width: 100%;
    padding-left: 10px;
    font-size: .7rem;
    font-weight: 500;
    font-family: fantasy;
}

.attributeIcon {
    display: block;
    min-width: 20px;
    margin: .25rem;
}