.gridSquare {
    border: .05em solid black;
    display: inline-block;
    width: 5rem;
    height: 5rem;
}

.gridSquareImpassable {
    border: .05em solid black;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-color: darkgray;
}

.gridSquare:hover {
    background-color: lightgrey;
}