.gridSquare {
    border: .05em solid rgba(0, 0, 0, 0.3);

    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    /* background-color: #FAF5EF; */
}

.gridSquareImpassable {
    border: .05em solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    /* background-color: darkgray; */
}

.gridSquare:hover {
    background-color: lightgrey;
}