.Layout {
    display:flex;
    margin: 0;
    height: 99%;
    justify-content: space-evenly;
    margin-left: 1px;
    margin-right: 1px;
    overflow: hidden;
    background: none;
}

.LeftPanel {
    display: flex;
    width: 25%;
    flex-direction: column;
    min-width: 500px;
    margin-top: 2rem;

}

.CenterPanel {
    width: 50%;
    border: 2px solid black;
    min-width: 50%;
    margin-top: 2rem;
    background-color: white;
}

.RightPanel {
    width: 25%;
    margin-top: 2rem;

}

