.Layout {
  display: flex;
  margin: 0;
  height: 100%;
  justify-content: space-evenly;
  margin-left: 1px;
  margin-right: 1px;
  overflow: hidden;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.LeftPanel {
  display: flex;
  width: 25%;
  flex-direction: column;
  min-width: 500px;
  margin-top: 2rem;
}

.CenterPanel {
  width: 50%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.RightPanel {
  width: 20%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
