.validMoveArea {
    background-color: rgba(255, 160, 122, 0.589);
}

.validAttackArea {
    background-color: lightgreen;
}

.CombatSquare {
    border: 0.05em solid rgba(0, 0, 0, 0.3);
    display: flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

.CombatSquare:hover {
    background-color: lightgrey !important;  
  }