.MinimapNode {
  width: 25px !important;
  height: 25px;
  color: rgb(105, 74, 74);
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.MinimapNodeEmpty {
  width: 25px !important;
  height: 25px;
}

.MinimapNode:after {
  display: block;
  content: ' ';
  width: 25px !important;
  height: 25px;
}

.clickable {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.9));
  color: rgb(255, 255, 255);
}

.isHere {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  transform: scale3d(1.5, 1.5, 1.5);
}

.isHidden {
  visibility: hidden;
}
