.Quests {

}

.Quests__active_completed_filter_buttons {
    display: flex;
    margin-top: 2px;
}

.Quests__filterButton {
    margin: 2%;
    padding: .5rem;
    font-size: .7rem;
    font-weight: 800;
}



.Quests__filterButtonActive {
    box-shadow: #422800 1px 1px 0 0;
}

.Quests__noQuest {
    margin: 25%;
    text-align: center;
    
}

button {
    border-color: none !important;
}