.Quests {

}

.Quests__active_completed_filter_buttons {
    display: flex;
    background-color: gainsboro;
    margin-top: 2px;
}

.Quests__filterButton {
    margin: 2%;
}

.Quests__noQuest {
    margin: 25%;
    text-align: center;
    
}

button {
    border-color: none !important;
}