.TradeItem {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.TradeItem__label {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1rem;
}

.TradeItem:hover {
  background-color: gainsboro;
  border: 1px dashed black;
}

.isSelected {
  border: 2px solid black;
  background-color: darkgray;
}

.isSelected:hover {
  border: 2px dashed black;
  background-color: darkgray;
}

.rarity-poor {
  color: grey;
}
.rarity-common {
  color: black;
}
.rarity-uncommon {
  color: green;
}
.rarity-rare {
  color: blue;
}
.rarity-very-rare {
  color: purple;
}
.rarity-legendary {
  color: orange;
}