.NoteBook {
    height: 55%;
    border: 2px solid black;
    font-size: .70rem;
    font-family: 'Metamorphous', cursive;
    margin: 2% 2% 0 2%;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #e7dace;
    border-radius: 3px;
    overflow: hidden;
}

.TimePlaceIndicator {
    height: 5%;
}

.MiniMap {
    height: 35%;
}
