.LocalItemDisplayArea {
  display: flex;
  height: 100%;
  width: 100%;
}

.itemList {
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 0;
  padding: 10px 0;
}

.itemButton {
  display: inline;
  cursor: pointer;
  font-family: 'Cardo', sans-serif;
  font-weight: 650;
  font-size: 1.25rem;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black;
  border: none;
  background-color: transparent !important;
  padding: 0 5px;
}

.ItemsHereLabel {
  height: 1rem;
  font-size: .8rem;
  font-weight: 900;
  font-family: 'Dosis', sans-serif;
  transform: rotate(-90deg);
  white-space: nowrap;
  letter-spacing: 3px;
  align-self: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
}

.rarity-poor {
  color: grey;
}
.rarity-common {
  color: black;
}
.rarity-uncommon {
  color: green;
}
.rarity-rare {
  color: blue;
}
.rarity-very-rare {
  color: purple;
}
.rarity-legendary {
  color: orange;
}
