.PowerButton {  
    cursor: pointer;
    margin: 2px;
}

.PowerButton > img {
    max-height: 50px;
    max-width: 50px;
    border-radius: 15px;
}

.disabled {
    filter: grayscale(100%);
}

.selected {
    background-color: #f0f0f0;
}