.PowerButton {  
    cursor: pointer;
    margin: 2px;
}

.PowerButton > img {
    max-height: 50px;
    max-width: 50px;
    border-radius: 15px;
}

.disabled {
    filter: grayscale(100%);
}

.selected {
    background-color: #f0f0f0;
}

.cooldownTurnsLabel {
    z-index: 99;
    position: absolute;
    top: 3px;
    left: 16px;
    -webkit-text-stroke: 1px black;
    text-shadow: 0 0 1px #fff;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
}