@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Metamorphous&display=swap');

p {
  margin-bottom: 0 !important;
  font-family: 'Fira Sans', sans-serif;
}

h2 {
  font-family: 'Metamorphous', sans-serif;
}

a {
  font-family: 'Fira Sans', sans-serif;
  color: rgb(20, 18, 18) !important;
  text-decoration: none !important;
}

/* button {
  font-family: 'Fira Sans', sans-serif;
  background-color: #C2AA91;
  background: ;
  color: white;
  border: 1px solid rgba(87, 55, 23, 0.514);
  border-radius: 5px !important;
  font-size: 1.2rem;
  cursor: pointer;
  
} */

/* CSS */
button {
  font-family: 'Fira Sans', sans-serif;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 2px 2px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}


/* button:hover {
  background-color: #e6e6e6;
  border: 1px solid rgba(87, 55, 23, 0.514);
  border-radius: 5px;
} */

#root {
  height: 100vh;
  width: 100vw;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.tab-content {
  height: 96%;
}

.tab-pane {
  height: 100%;
}

.popover-header {
  display: flex !important;
  justify-content: space-between !important;
}

.nav-item {
  background-color: gainsboro;
  border: none;
  border-radius: 0px !important;
  margin-right: 4px;
  margin-top: 0.2rem;
  color: black;
  font-weight: 600;
  font-size: 0.9em;
}

.nav-item:hover {
  color: black;
  transform: skewX(-3deg);
}

.nav-link {
  padding: 0.25rem 0.25rem !important;
}

.nav-tabs {
  justify-content: space-around;
  border-bottom: none !important;
}
