@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Metamorphous&display=swap');

p {
  margin-bottom: 0 !important;
  font-family: 'Fira Sans', sans-serif;
}

h2 {
  font-family: 'Metamorphous', sans-serif;
}

button {
  font-family: 'Fira Sans', sans-serif;
  background-color: #f7f7f7;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

#root {
  height: 100vh;
  width: 100vw;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.tab-content {
  height: 96%;
}

.tab-pane {
  height: 100%;
}

.popover-header {
  display: flex !important;
  justify-content: space-between !important;
}

.nav-item {
  background-color: gainsboro;
  border: none;
  border-radius: 0px !important;
  margin-right: 4px;
  margin-top: 0.2rem;
  color: black;
  font-weight: 600;
  font-size: 0.9em;
}

.nav-item:hover {
  color: black;
  transform: skewX(-3deg);
}

.nav-link {
  padding: 0.25rem 0.25rem !important;
}

.nav-tabs {
  justify-content: space-around;
  border-bottom: none !important;
}
