.MainDisplayArea {
  height: 59%;
  border: 4px solid #160f0f;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.TextDisplayArea {
  height: 20%;
  border-bottom: 1px solid black;
}

.ButtonArea {
  height: 13%;
  border-bottom: 1px solid black;

}

.ExpBar {
  height: 2%;
  border-bottom: 1px solid black;
}

.HotBar {
  height: 6%;
  border-bottom: 1px solid black;
}
